@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn1 {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.procontent {
  margin-left: 2rem;
  margin-top: 5rem;
}

.proimg {
  border: 2px solid white; /* Add a white border */
  border-radius: 50%; /* Make the image circular */
  margin: 0.5rem;
  height: 15rem;
  width: 15rem; /* Ensure the image is square */
  object-fit: cover; /* Ensure the image covers the entire area */
  display: block; /* Ensure the image is treated as a block-level element */
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation */
}
.proimg1 {
  border: 2px solid white; /* Add a white border */
  border-radius: 50%; /* Make the image circular */
  margin: 0.5rem;
  height: 15rem;
  width: 15rem; /* Ensure the image is square */
  object-fit: cover; /* Ensure the image covers the entire area */
  display: block; /* Ensure the image is treated as a block-level element */
  animation: fadeIn1 1s ease-in-out; /* Add fade-in animation */
}
.images {
  display: flex; /* Arrange images in a row */
  justify-content: center; /* Center the images horizontally */
  flex-wrap: wrap; /* Allow images to wrap to the next line if necessary */
  gap: 4rem;
  margin: 4rem; /* Add space between images */
}

.project-item {
  position: relative; /* Container for each project item */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.overlay {
  position: absolute;
  border: 2px solid yellow;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white; /* Text color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition */
  border-radius: 50%; /* Match border-radius of the image */
  padding: 1rem; /* Add padding for better readability */
  text-align: center; /* Center the text */
}

.project-item:hover .overlay {
  opacity: 1;
}

.view-link {
  color: yellow;
  text-decoration: underline; /* Underline for the "Click to view" link */
  cursor: pointer; /* Pointer cursor on hover */
  margin-top: 0.5rem; /* Add margin for separation */
}

.project-description {
  font-size: 0.9rem; /* Adjust description font size */
  margin-bottom: 0.5rem; /* Add margin below description */
}

.head {
  font-size: larger;
  margin-top: 0;
  margin-bottom: 5rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1em;
  

}

@media screen and (max-width: 840px) {
  .images {
    margin: 2rem;
    gap: 2rem;
  }

  .proimg {
    height: 10rem;
    width: 10rem;
  }
}
.yello{
  color:yellow
}